var dbUser = 'YOUR_DB_USER_HERE';
var dbPass = 'YOUR_DB_PASS_HERE';
var mongoDBBase = 'mongodb://' + dbUser + ':' + dbPass + '@';

module.exports = {
	mongoDB: mongoDBBase + 'YOUR_DB_HERE',
	tokenSecret: 'YOUR_TOKEN_SECRET_HERE'
}
